.DS_Store

application/cache/*


application/logs/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.idea/
uploads/baju/baju-AUSTIN-1479177385.jpg
uploads/baju/baju-FLYNN-1479177436.jpg
uploads/baju/baju-JUDE-1479177462.jpg
uploads/baju/baju-ROCCO-1479177492.jpg
uploads/logo/logo.jpg
uploads/logo/ttdinvoice.jpg
